.item {
    width: 400px;
    min-height: 300px;
    border-radius: 10px;
    background-color: #ffceb5;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.item__title, .item__prompt {
    text-align: center;
}

.item__input {
    max-width: 100px;
    margin-top: 30px;
    align-self: center;
}